<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lay.springcloud.mapper.PaymentMapper">
    <insert id="create" parameterType="com.lay.springcloud.entity.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values (${serial});
    </insert>

    <select id="getById" parameterType="Long" resultType="com.lay.springcloud.entity.Payment">
        select * from payment where id = #{id};
    </select>
</mapper>